extends layout
block content
    h1= title
        - let tattoo_id = toShow?._id
        - let customer = toShow?.customer
        - let duration = toShow?.duration
        - let cost = toShow?.cost
        - let colored = toShow?.colored
        div
            div.row
                div(class='tattooAttr mr-3') Tattoo ID is: #{tattoo_id}
            div.row
                div(class='tattooAttr mr-3') Customer is: #{customer}
            div.row
                div(class='tattooAttr mr-3') Duration is: #{duration}
            div.row
                div(class='tattooAttr mr-3') Cost is: #{cost}
            div.row
                div(class='tattooAttr mr-3') Colored? #{colored}