extends layout
block content
    h1= title
        - let tattoo_id = toShow._id
        - let tattoocustomer = toShow.customer
        - let tattooduration = toShow.duration
        - let tattoocost = toShow.cost
        - let tattoocolored = toShow.colored
        div
            div.row
                div(class='tattooAttr mr-3') Tattoo ID is:
                div #{tattoo_id}
            div.row
                div(class='tattooAttr mr-3') Customer is:
                div #{tattoocustomer}
            div.row
                div(class='tattooAttr mr-3') Duration is:
                div #{tattooduration}
            div.row
                div(class='tattooAttr mr-3') Cost is:
                div #{tattoocost}
            div.row
                div(class='tattooAttr mr-3') Colored? 
                div #{tattoocolored}