extends layout
block content
    h1= title
    - let tattoo_id = toShow?._id
    - let customer = toShow?.customer
    - let duration = toShow?.duration
    - let cost = toShow?.cost
    - let colored = toShow?.colored

    form(id='TattooForm', action=`/resource/tattoos/${tattoo_id}`, method="POST")
        div ID is: #{tattoo_id}
        div.form-group
            label(for='customer') Customer 
            input#customer(type='text', name='customer', value=customer)
            input(type="hidden", name="tattoo_id", value=tattoo_id)
        div.form-group
            label(for='duration') Duration
            input#duration(type='number', name='duration', value=duration, min=1)
        div.form-group
            label(for='cost') Tattoo cost
            input#cost(type='number', name='cost', value=cost, min=80)
        div.form-group
            label(for='colored') Colored?
            input#colored(type='checkbox', name='colored', checked=colored)
        input#btn.btn(type="submit" value="Save")

    script.
        document.forms['TattooForm'].addEventListener('submit', (event) => { 
            event.preventDefault();
            fetch(event.target.action, {
                method: 'PUT', // align with your Express route
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                body: new URLSearchParams(new FormData(event.target))
            }).then((resp) => {
                return resp.json();
            }).then((body) => {
                alert("Save succeeded");
                window.location.href = `/tattoos`
            }).catch((err) => {
                alert("Save failed: " + err);
                console.error(err);
            });
            });
